html, body{
    height: 100%;
    width:100%;
}
@font-face{
    font-family: skp;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    font-family:skp;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    position: relative;
    z-index: 10;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}
#nav{
    padding: 2vw 0vw;
    width:100%;
    /*background-color: red;*/
    top: 0%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
    
}
#nav2{
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-right: 3vw;
   
}
#nav2 h4{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 500;
    font-size:18px ;
    position: relative;
    color: rgb(40, 38, 38);
    transition: all ease 0.5s;
    overflow: hidden;
}
#nav2 h4::after{
    content: "";
    left:0;
    bottom: -100%;
    border-radius: 50px;
    position: absolute;
    height: 100%;
    width:100%;
    background-color: black;
    transition: all ease 0.3s;

}
#nav2 h4:hover::after{
    bottom: 0;
    border-radius: 50px;
}
#nav2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 10;
}
#nav2 h4:hover a{
    color:#fff;
}
/* here the transition function is used to show some cool transition and we have given hover and  overlay as well to hide the background.
bottom -100% is given as it will stay down and once it starts to transit it will go to 0. thus will hide that thing.*/

#center{
    height: 62vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /*background-color: orange;*/
    border-bottom: 1px solid black;
    padding-bottom: 2.5vw;
}
#left h3{
   width: 24vw;
   font-size: 1.7vw;
   line-height: 2vw;
   
}
#center h2{
    font-size: 9vw;
    line-height: 7vw;
    text-align: right;
    padding-right:20px;
    padding-bottom: 69px;
}
#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
#animmove{
    position: absolute;
    width: 47vw;
    height: 36vw;
  
    right: 0;
    top: 64vh;
    
    
}
#hh1{
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius:50% ;
    height: 100%;
    width: 100%;
    filter: blur(10px);
    position: absolute;
}
#hh2{
    background: linear-gradient(#fe320a,#fe840aba);

    height: 30vw;
    width: 30vw;
    position: absolute;
    filter: blur(25px);
    animation-name: anime2;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border-radius: 50%;


}
#hh3{
    background: linear-gradient(#fe320a,#fe840aba);
   border-radius: 50%;
   height: 30vw;
   width: 30vw;
    position: absolute;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
        transform: rotate(-45deg)
    }
    to{
        transform: translate(-10%,11%);
        transform: rotate(210deg)
    }
}
@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
        
    }
    to{
        transform: translate(-20%,10%);
        
    }
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;

}
.cont{
   
    white-space: nowrap;
    display: inline-block;
    animation-name: move1;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#movtext{
    white-space: nowrap;
    overflow-x: auto;
}
#movtext::-webkit-scrollbar{
    display: none;
}
#movtext h1{
  font-size: 6vw;
  display: inline-block;
}
#roundc{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:  #fe320a;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move1 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page2-bot{
    height: 70vh;
    width: 100%;
    padding: 3vw ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;

}
#page2-bot h1{
    font-size: 3.3vw;
    width: 55%;
    line-height: 4vw;
}
#botpart2 {
    width: 30%;
    
}
#botpart2 img{
    border-radius: 8%;
}
/*#botpart2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 3vw;
}*/

#page2 #gooe {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: #fe320a;
    background: linear-gradient(to top , #fe320a,#fe840ae0);
    top: 50%;
    position: absolute;
    left: 15%;
    filter: blur(20px);
    animation-name: go;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes go {
    from{
        filter: blur(20px);
        transform: translate(10%,-10%) skew(0);
    }
    to{
        transform: translate(-10%,10%) skew(-15deg);
        filter: blur(20px);
    }
}
.elem{
    height: 130px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 0 2vw;
    align-items: center;
   
    border-bottom: 1px solid black;
    position: relative;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 4vw 0;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.elem .overllay {
    height: 100%;
    width: 100%;
    background: linear-gradient( #fe320a,#fe840ae0);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overllay{
    top: 0;
}
#fiximg{
    height: 30vw;
    width: 23vw;
  
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-position: center;
    background-size: cover;
}
#page4{
    height: 30vh;
    width: 100%;
    height: 100vh;
    padding: 10vw 2vw;
    background-color: #efeae3;
    font-family:skp;
}
#page5{
    height: 100vh;
    width: 100%;

}
#footer{
    height: 100vh;
    bottom: 0;
    z-index: 9;
    position: fixed;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    padding: 1vw 3vw;
    justify-content: flex-end;
    flex-direction: column;

}
#footer h1{
    font-size: 23vw;
    
}
#footerdiv{
    height: 30vh;
    width: 100%;
  
}
#footerbottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;

}
#footerdiv #gooe3{
   
    
    
    position: absolute;
    
    animation-name: go1;
    animation-timing-function: ease-in-out;
    animation-duration: 25s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    box-sizing: border-box;
    z-index: 3;
    width: 93em;
    height: 33em;
filter: blur(40px);
background-color: #ff9831;
background-image: linear-gradient(17deg,#fe330a 45%,#ff9831);
border-radius: 999em;

top: 0%;
bottom: auto;
left: auto;
right: -42em;

}
#footerdiv #gooe4{
    box-sizing: border-box;
    z-index: 4;
    width: 103em;
    height: 32em;
    filter: blur(40px);
    background-color: #ff9831;
    background-image: linear-gradient(152deg,#ff9831,#fe330a 43%);
    border-radius: 999em;
    position: absolute;
    top: -17em;
    bottom: auto;
    left: -19em;
    right: auto;
    animation-name: go2;
    animation-timing-function: ease-in-out;
    animation-duration: 25s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: normal;
    animation-iteration-count: infinite;

   
}
@keyframes go1 {
    from{
        transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg)  skew(0deg, 0deg);
    }
    to{
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)  skew(0deg, 30deg);
    }
}
@keyframes go2 {
    from{
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)  skew(0deg, 0deg);
    }
    to{
        transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg)  skew(0deg, -29deg);
    }
}

/*#roundcc{
    height: 60px;
    width: 60px;
    border-radius: 70%;
    background-color:  rgb(250, 181, 6);
    display: inline-block;
    margin: 1vw 2vw;
   

    
    justify-content: center;
    margin-top: 250px;
    margin-left: 48%;
}*/
.swiper {
    width: 100%;
    height: 100%;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-left: 1px solid#999292f8;
  }
  #nav h3{
    display: none;
  }
  #fullscreen1{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.468);
    z-index: 99;
    position: fixed;
    top: -100%;
    transition: all ease 0.5s;

  }
  #full-div1{
    height: 50%;
    width: 100%;
    background-color: #efeae3;
    
  }


@media (max-width:600px){
/*for responsiveness*/
#page1{
    min-height: 100vh;
    width: 100vw;
 
    padding: 0 0vw;
}
#nav img{
    transition: all ease 1s;
    height: 9vw;
}
#nav{
    padding: 9vw 5vw;
   background-color: #efeae3;

    
}
#nav2{
    
    display: none;
   
}
#nav h3{
    display: block;
    padding: 3vw 5vw;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 200;
    padding-left: 10vw;
  }
  #center{
    height: 62vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /*background-color: orange;*/
    border-bottom: 1px solid black;
    padding-bottom: 10vw;
    flex-direction: column-reverse;
     padding: 7vw 5vw;
     position: relative;
     z-index: 9;
}
#left h3{
   width: 80%;
   font-size: 5.7vw;
   line-height: 6vw;
   
}
#center h2{
    font-size: 18vw;
    line-height: 14vw;
    text-align: right;
    padding-right:20px;
    padding-bottom: 69px;
}
#page1 video{
    width: 90%;
    border-radius: 15px;
    margin-top: 4vw;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin-left: 4%;
    height: 50vh;
    object-fit: cover;
    object-position: center;

}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;

}
.cont{
   
    white-space: nowrap;
    display: inline-block;
    animation-name: move1;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#movtext{
    white-space: nowrap;
    overflow-x: auto;
}
#movtext::-webkit-scrollbar{
    display: none;
}
#movtext h1{
  font-size: 6vw;
  display: inline-block;
}
#roundc{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color:  #fe320a;
    display: inline-block;
    margin: 1.5vw 2vw;
}
#page2-bot{
    height: 90vh;
    width: 100%;
    padding: 10vw 3vw ;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 9;
    flex-direction: column;

}
#page2-bot h1{
    font-size: 8.3vw;
    width: 100%;
    line-height: 9vw;
}
#botpart2 {
    width: 70%;
    
}
#botpart2 img{
    border-radius: 10px;
    width: 100%;

}

#page2 #gooe {
    height: 62vw;
    width: 63vw;
    border-radius: 50%;
    background-color: #fe320a;
    background: linear-gradient(to top , #fe320a,#fe840ae0);
    top: 60%;
    position: absolute;
    left: 25%;
    filter: blur(20px);
    animation-name: go;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#botpart2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 3vw;
}

    
}
#loader{
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all linear 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-name: loade;
    animation-duration: 1s;

}
#loader h1:nth-child(2){
   
  animation-delay: 2s;
}
#loader h1:nth-child(3){
   
animation-delay: 3s;
}

@keyframes loade {
    0%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

